{nil {:size 281998,
      :path ""},

 "" {:size 0,
     :path ""},
 "lrphzrv" {:size 129876,
            :path "lrphzrv"},
 "hlbnhchz" {:size 63747,
             :path "hlbnhchz"},
 "zprprf" {:size 342080,
           :path "zprprf"},
 "rsn" {:size 89506,
        :path "rsn"},
 "msztjvcb" {:size 291802,
             :path "msztjvcb"},
 "twntr" {:size 654954,
          :path "twntr"},
 "dcqnblb" {:size 196506,
            :path "dcqnblb"},
 "gtt" {:size 600713,
        :path "gtt"},
 "scgc" {:size 201992,
         :path "scgc"},
 "dtpwln" {:size 582554,
           :path "dtpwln"},
 "gnc" {:size 96177,
        :path "gnc"},
 "rjbqtrq" {:size 523625,
            :path "rjbqtrq"},
 "swjrzzrm" {:size 171833,
             :path "swjrzzrm"},
 "tmfvsjwc" {:size 83344,
             :path "tmfvsjwc"},
 "znnsqqh" {:size 75864,
            :path "znnsqqh"},
 "fptnzlv" {:size 0,
            :path "fptnzlv"},
 "tln" {:size 38917,
        :path "tln"},
 "mwg" {:size 260121,
        :path "mwg"},
 "flcrmhlj" {:size 505449,
             :path "flcrmhlj"},
 "nfspb" {:size 488979,
          :path "nfspb"},
 "msp" {:size 778798,
        :path "msp"},
 "vnjfrhp" {:size 0,
            :path "vnjfrhp"},
 "jdqzmqn" {:size 392751,
            :path "jdqzmqn"},
 "ldzslndn" {:size 56989,
             :path "ldzslndn"},
 "djmjhn" {:size 748187,
           :path "djmjhn"},
 "nbg" {:size 199400,
        :path "nbg"},
 "lgdwtt" {:size 165461,
           :path "lgdwtt"},
 "gzg" {:size 449373,
        :path "gzg"},
 "vhvblt" {:size 62245,
           :path "vhvblt"},
 "gmbnpm" {:size 11075,
           :path "gmbnpm"},
 "tfnhp" {:size 683171,
          :path "tfnhp"},
 "sjzrcg" {:size 212446,
           :path "sjzrcg"},
 "hbthpcmb" {:size 438363,
             :path "hbthpcmb"},
 "fvjzn" {:size 236976,
          :path "fvjzn"},
 "lvt" {:size 0,
        :path "lvt"},
 "tmr" {:size 0,
        :path "tmr"},
 "lbnflwsh" {:size 0,
             :path "lbnflwsh"},
 "zvmjvcdm" {:size 95941,
             :path "zvmjvcdm"},
 "dqp" {:size 62412,
        :path "dqp"},
 "rpchqq" {:size 576086,
           :path "rpchqq"},
 "sqqjfps" {:size 189996,
            :path "sqqjfps"},
 "vwmpnbts" {:size 0,
             :path "vwmpnbts"},
 "nhqwt" {:size 224079,
          :path "nhqwt"},
 "rmpvj" {:size 182115,
          :path "rmpvj"},
 "pgvcdzwz" {:size 832759,
             :path "pgvcdzwz"},
 "mcnjwwfr" {:size 320367,
             :path "mcnjwwfr"},
 "hzrnb" {:size 91909,
          :path "hzrnb"},
 "sqhl" {:size 324764,
         :path "sqhl"},
 "gfn" {:size 173180,
        :path "gfn"},
 "qftt" {:size 196215,
         :path "qftt"},
 "dszrvpzc" {:size 0,
             :path "dszrvpzc"},
 "qll" {:size 276198,
        :path "qll"},
 "fqndtlgq" {:size 168617,
             :path "fqndtlgq"},
 "qcq" {:size 0,
        :path "qcq"},
 "nwl" {:size 219926,
        :path "nwl"},
 "qgzhm" {:size 43005,
          :path "qgzhm"},
 "ptbt" {:size 0,
         :path "ptbt"},
 "zphd" {:size 782986,
         :path "zphd"},
 "wnlgfpvf" {:size 782896,
             :path "wnlgfpvf"},
 "lpswsp" {:size 0,
           :path "lpswsp"},
 "lmtpm" {:size 311933,
          :path "lmtpm"},
 "ztvzrrbv" {:size 271528,
             :path "ztvzrrbv"},
 "fmn" {:size 291149,
        :path "fmn"},
 "jvdrcw" {:size 189996,
           :path "jvdrcw"},
 "jjppr" {:size 316034,
          :path "jjppr"},
 "zcdrj" {:size 175632,
          :path "zcdrj"},
 "fvt" {:size 0,
        :path "fvt"},
 "hrcrw" {:size 235444,
          :path "hrcrw"},
 "tdsz" {:size 517679,
         :path "tdsz"},
 "qbvdh" {:size 283262,
          :path "qbvdh"}}
